<header>

  <div class="register-text">
    <h1>CADASTRE-SE</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

  </div>

  <div class="container one">
    <div class="inline-form">
      <input type="text" placeholder="Nome" class="name">
    </div>
    <div class="inline-form">
      <input type="text" placeholder="Sobrenome" class="lastname">
    </div>
    <div class="inline-form">
      <input type="text" placeholder="Participação" class="holder">
    </div>
    <div class="inline-form">
      <button id="send-button">ENVIAR</button>
    </div>
  </div>

</header>
